@{
    ViewData["Title"] = "Index";
}
@inject IAuthorizationService authorizationService

@if (authorizationService.AuthorizeAsync(User, "Permissions.Order.Read").Result.Succeeded)
{
    <button class="bt btn-primary">Permissions.Stock.Read</button>
}
@if (authorizationService.AuthorizeAsync(User, "Permissions.Order.Delete").Result.Succeeded)
{
    <button class="bt btn-primary">Permissions.Order.Delete</button>
}
@if (authorizationService.AuthorizeAsync(User, "Permissions.Stock.Delete").Result.Succeeded)
{
    <button class="bt btn-primary">Permissions.Stock.Delete</button>
}

